{% comment %} <section class="drawer" id="drawer-name" data-drawer-target>
  <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
  <div class="drawer__wrapper">
    <div class="drawer__header">
      <div class="drawer__title">
        Continue Shopping
      </div>
      <button class="drawer__close" data-drawer-close aria-label="Close Drawer"></button>
    </div>
    <div class="drawer__content" id="cart__drawer">
      <div id="drawer_cart_items">
        <input type="number" id="updates_{{ item.key }}"
        value="{{ item.quantity }}" min="0" pattern="[0-9]*"
        data-quantity-item="{{ forloop.index }}">

      </div>
      <div style="margin-top: 50px">
        <h4>Total: <span id="cart__total_price"></span></h4>
        <a id="cart__checkout_btn" href="/checkout" class="btn btn--has-icon-after cart__continue-btn" style="width:100%;">Proceed Checkout</a>
      </div>
    </div>
  </div>
</section>


<script>
  fetch('/cart.js')
  .then((resp) => resp.json())
  .then((data) => {
    console.log(data);
    let testHtml = '';
    
    if(data.items.length > 0) {
        data.items.forEach(function(product, index) { 
          testHtml+='<img src="'+product.featured_image.url+'" alt="'+product.featured_image.alt+'"><h5>'+product.title+'</h5><p>'+product.quantity+' x '+product.line_price+'</p>';
      	});
    document.getElementById('drawer_cart_items').innerHTML = testHtml;
    } else {
      document.getElementById('drawer_cart_items').innerHTML = '<p>Cart is empty</p>';
      document.getElementById('drawer_checkout_btn').setAttribute('disabled', 'disabled');
      document.getElementById('drawer_checkout_btn').style.pointerEvents = 'none';
    }
    
    document.getElementById('cart__total_price').innerHTML = data.total_price;
    
  });
</script> {% endcomment %}