{%include 'breadcrumb'%}
<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }
  .content-404{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
</style>

<div class="template-404 page-width page-margin center container-fluid">
{% comment %}   <p>
    {{ 'templates.404.subtext' | t }}
  </p>
  <h1 class="title">
    {{ 'templates.404.title' | t }}
  </h1> {% endcomment %}
  <div class="content-404">
    {{ section.settings.zeva_image_1 | img_url: 'master' | img_tag }}
  <a href="/" class="home-button main-btn">Back To Home
  </a>
    </div>
</div>

{% schema %}
{
  "name": "404 Page",
  "tag": "section",
  "class": "section",
  "settings": [ 
	{
      "type": "image_picker",
      "id": "zeva_image_1",
      "label": "Image"
  	}
]

}
{% endschema %}
