/*     **************************************** */

.gridlock .row {
  width: 92%;
  margin-left: auto;
  margin-right: auto
}

.gridlock .row:after {
  height: 0;
  clear: both;
  content: ".";
  display: block;
  line-height: 0;
  visibility: hidden
}

.gridlock .row .row {
  width: 102.08333333%;
  margin-left: -1.04166667%;
  margin-right: -1.04166667%
}

.gridlock .row .contained .row {
  width: 100%;
  margin-left: 0;
  margin-right: 0
}

.gridlock .row [class*=all-], .gridlock .row [class*=desktop-], .gridlock .row [class*=max-], .gridlock .row [class*=min-], .gridlock .row [class*=mobile-], .gridlock .row [class*=tablet-] {
  float: left;
  margin-left: 1.04166667%;
  margin-right: 1.04166667%
}

.gridlock .row [class*=all-].padded, .gridlock .row [class*=desktop-].padded, .gridlock .row [class*=max-].padded, .gridlock .row [class*=min-].padded, .gridlock .row [class*=mobile-].padded, .gridlock .row [class*=tablet-].padded {
  box-sizing: content-box;
  margin-left: 0;
  margin-right: 0;
  padding-left: 1.04166667%;
  padding-right: 1.04166667%
}

.gridlock .row [class*=all-].contained, .gridlock .row [class*=desktop-].contained, .gridlock .row [class*=max-].contained, .gridlock .row [class*=min-].contained, .gridlock .row [class*=mobile-].contained, .gridlock .row [class*=tablet-].contained {
  margin-left: 0;
  margin-right: 0
}

.gridlock .row [class*=all-].right, .gridlock .row [class*=desktop-].right, .gridlock .row [class*=max-].right, .gridlock .row [class*=min-].right, .gridlock .row [class*=mobile-].right, .gridlock .row [class*=tablet-].right {
  float: right
}

.usp__section-container{margin-bottom:0 !important;}
@media screen and (min-width:500px) {
  .gridlock .row {
    width: 480px
  }
}

@media screen and (min-width:740px) {
  .gridlock .row {
    width: 680px
  }
}

@media screen and (min-width:980px) {
  .gridlock .row {
    width: 860px
  }
}

@media screen and (min-width:1220px) {
  .gridlock .row {
    width: 1080px
  }
}

@media screen and (max-width:1679px) {
  .gridlock .row {
    width: 94%;
  }
}

@media screen and (min-width:1680px) {
  .gridlock .row {
    width: 1280px
  }
}

@media screen and (max-width:739px) {
  .gridlock-mobile-fluid .row {
    width: 98%
  }
}

.gridlock .row .all-fifth {
  width: 17.91666667%
}

.gridlock .row .all-fourth {
  width: 22.91666667%
}

.gridlock .row .all-third {
  width: 31.25%
}

.gridlock .row .all-half {
  width: 47.91666667%
}

.gridlock .row .all-full {
  width: 97.91666667%
}

.gridlock .row .all-push-fifth {
  margin-left: 21.04166667%
}

.gridlock .row .all-push-fourth {
  margin-left: 26.04166667%
}

.gridlock .row .all-push-third {
  margin-left: 34.375%
}

.gridlock .row .all-push-half {
  margin-left: 51.04166667%
}

.gridlock .row .contained.all-fifth {
  width: 20%
}

.gridlock .row .contained.all-fourth {
  width: 25%
}

.gridlock .row .contained.all-third {
  width: 33.33333333%
}

.gridlock .row .contained.all-half {
  width: 50%
}

.gridlock .row .contained.all-full {
  width: 100%
}

.gridlock .row .contained.all-push-fifth {
  margin-left: 20%
}

.gridlock .row .contained.all-push-fourth {
  margin-left: 25%
}

.gridlock .row .contained.all-push-third {
  margin-left: 33.33333333%
}

.gridlock .row .contained.all-push-half {
  margin-left: 50%
}

.gridlock .row [class*=all-].centered {
  float: none;
  margin-left: auto;
  margin-right: auto
}

.gridlock .row .all-hide {
  display: none
}
/* .visually-hidden {
  display: none;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
} */

@media screen and (max-width:739px) {
  .checklist-div {
    width: 100%;
  }
  .gridlock .row .mobile-1 {
    width: 31.25%
  }
  .gridlock .row .mobile-2 {
    width: 64.58333333%
  }
  .gridlock .row .mobile-3 {
    width: 97.91666667%
  }
  .gridlock .row .mobile-push-1 {
    margin-left: 34.375%
  }
  .gridlock .row .mobile-push-2 {
    margin-left: 67.70833333%
  }
  .gridlock .row .contained.mobile-1 {
    width: 33.33333333%
  }
  .gridlock .row .contained.mobile-2 {
    width: 66.66666667%
  }
  .gridlock .row .contained.mobile-3 {
    width: 100%
  }
  .gridlock .row .contained.mobile-push-1 {
    margin-left: 33.33333333%
  }
  .gridlock .row .contained.mobile-push-2 {
    margin-left: 66.66666667%
  }
  .gridlock .row .mobile-fifth {
    width: 17.91666667%
  }
  .gridlock .row .mobile-fourth {
    width: 22.91666667%
  }
  .gridlock .row .mobile-third {
    width: 31.25%
  }
  .gridlock .row .mobile-half {
    width: 47.91666667%
  }
  .gridlock .row .mobile-full {
    width: 97.91666667%
  }
  .gridlock .row .mobile-push-fifth {
    margin-left: 21.04166667%
  }
  .gridlock .row .mobile-push-fourth {
    margin-left: 26.04166667%
  }
  .gridlock .row .mobile-push-third {
    margin-left: 34.375%
  }
  .gridlock .row .mobile-push-half {
    margin-left: 51.04166667%
  }
  .gridlock .row .contained.mobile-fifth {
    width: 20%
  }
  .gridlock .row .contained.mobile-fourth {
    width: 25%
  }
  .gridlock .row .contained.mobile-third {
    width: 33.33333333%
  }
  .gridlock .row .contained.mobile-half {
    width: 50%
  }
  .gridlock .row .contained.mobile-full {
    width: 100%
  }
  .gridlock .row .contained.mobile-push-fifth {
    margin-left: 20%
  }
  .gridlock .row .contained.mobile-push-fourth {
    margin-left: 25%
  }
  .gridlock .row .contained.mobile-push-third {
    margin-left: 33.33333333%
  }
  .gridlock .row .contained.mobile-push-half {
    margin-left: 50%
  }
  .gridlock .row [class*=mobile-].centered {
    float: none;
    margin-left: auto;
    margin-right: auto
  }
  .gridlock .row .mobile-hide {
    display: none
  }
}

@media screen and (max-width:499px) {
  .gridlock .row .min-1 {
    width: 31.25%
  }
  ul#cart1>li a{padding:0;    }
  .mobile-menu__trigger .slideout__trigger--open button{padding:0 10px;}
  .gridlock .row .min-2 {
    width: 64.58333333%
  }
  .gridlock .row .min-3 {
    width: 97.91666667%
  }
  .gridlock .row .min-push-1 {
    margin-left: 34.375%
  }
  .gridlock .row .min-push-2 {
    margin-left: 67.70833333%
  }
  .gridlock .row .contained.min-1 {
    width: 33.33333333%
  }
  .gridlock .row .contained.min-2 {
    width: 66.66666667%
  }
  .gridlock .row .contained.min-3 {
    width: 100%
  }
  .gridlock .row .contained.min-push-1 {
    margin-left: 33.33333333%
  }
  .gridlock .row .contained.min-push-2 {
    margin-left: 66.66666667%
  }
  .gridlock .row .min-fifth {
    width: 17.91666667%
  }
  .gridlock .row .min-fourth {
    width: 22.91666667%
  }
  .gridlock .row .min-third {
    width: 31.25%
  }
  .gridlock .row .min-half {
    width: 47.91666667%
  }
  .gridlock .row .min-full {
    width: 97.91666667%
  }
  .gridlock .row .min-push-fifth {
    margin-left: 21.04166667%
  }
  .gridlock .row .min-push-fourth {
    margin-left: 26.04166667%
  }
  .gridlock .row .min-push-third {
    margin-left: 34.375%
  }
  .gridlock .row .min-push-half {
    margin-left: 51.04166667%
  }
  .gridlock .row .contained.min-fifth {
    width: 20%
  }
  .gridlock .row .contained.min-fourth {
    width: 25%
  }
  .gridlock .row .contained.min-third {
    width: 33.33333333%
  }
  .gridlock .row .contained.min-half {
    width: 50%
  }
  .gridlock .row .contained.min-full {
    width: 100%
  }
  .gridlock .row .contained.min-push-fifth {
    margin-left: 20%
  }
  .gridlock .row .contained.min-push-fourth {
    margin-left: 25%
  }
  .gridlock .row .contained.min-push-third {
    margin-left: 33.33333333%
  }
  .gridlock .row .contained.min-push-half {
    margin-left: 50%
  }
  .gridlock .row [class*=min-].centered {
    float: none;
    margin-left: auto;
    margin-right: auto
  }
  .gridlock .row .min-hide {
    display: none
  }
}

@media screen and (min-width:740px) and (max-width:979px) {

  .gridlock .row .tablet-1 {
    width: 14.58333333%
  }
  .gridlock .row .tablet-2 {
    width: 31.25%
  }
  .gridlock .row .tablet-3 {
    width: 47.91666667%
  }
  .gridlock .row .tablet-4 {
    width: 64.58333333%
  }
  .gridlock .row .tablet-5 {
    width: 81.25%
  }
  .gridlock .row .tablet-6 {
    width: 97.91666667%
  }
  .gridlock .row .tablet-push-1 {
    margin-left: 17.70833333%
  }
  .gridlock .row .tablet-push-2 {
    margin-left: 34.375%
  }
  .gridlock .row .tablet-push-3 {
    margin-left: 51.04166667%
  }
  .gridlock .row .tablet-push-4 {
    margin-left: 67.70833333%
  }
  .gridlock .row .tablet-push-5 {
    margin-left: 84.375%
  }
  .gridlock .row .contained.tablet-1 {
    width: 16.66666667%
  }
  .gridlock .row .contained.tablet-2 {
    width: 33.33333333%
  }
  .gridlock .row .contained.tablet-3 {
    width: 50%
  }
  .gridlock .row .contained.tablet-4 {
    width: 66.66666667%
  }
  .gridlock .row .contained.tablet-5 {
    width: 83.33333333%
  }
  .gridlock .row .contained.tablet-6 {
    width: 100%
  }
  .gridlock .row .contained.tablet-push-1 {
    margin-left: 16.66666667%
  }
  .gridlock .row .contained.tablet-push-2 {
    margin-left: 33.33333333%
  }
  .gridlock .row .contained.tablet-push-3 {
    margin-left: 50%
  }
  .gridlock .row .contained.tablet-push-4 {
    margin-left: 66.66666667%
  }
  .gridlock .row .contained.tablet-push-5 {
    margin-left: 83.33333333%
  }
  .gridlock .row .tablet-fifth {
    width: 17.91666667%
  }
  .gridlock .row .tablet-fourth {
    width: 22.91666667%
  }
  .gridlock .row .tablet-third {
    width: 31.25%
  }
  .gridlock .row .tablet-three-quarter {
    width: 72.9%
  }
  .gridlock .row .tablet-two-thirds {
    width: 64.5%
  }
  .gridlock .row .tablet-half {
    width: 47.91666667%
  }
  .gridlock .row .tablet-full {
    width: 97.91666667%
  }
  .gridlock .row .tablet-push-fifth {
    margin-left: 21.04166667%
  }
  .gridlock .row .tablet-push-fourth {
    margin-left: 26.04166667%
  }
  .gridlock .row .tablet-push-third {
    margin-left: 34.375%
  }
  .gridlock .row .tablet-push-half {
    margin-left: 51.04166667%
  }
  .gridlock .row .contained.tablet-fifth {
    width: 20%
  }
  .gridlock .row .contained.tablet-fourth {
    width: 25%
  }
  .gridlock .row .contained.tablet-third {
    width: 33.33333333%
  }
  .gridlock .row .contained.tablet-half {
    width: 50%
  }
  .gridlock .row .contained.tablet-full {
    width: 100%
  }
  .gridlock .row .contained.tablet-push-fifth {
    margin-left: 20%
  }
  .gridlock .row .contained.tablet-push-fourth {
    margin-left: 25%
  }
  .gridlock .row .contained.tablet-push-third {
    margin-left: 33.33333333%
  }
  .gridlock .row .contained.tablet-push-half {
    margin-left: 50%
  }
  .gridlock .row [class*=tablet-].centered {
    float: none;
    margin-left: auto;
    margin-right: auto
  }
  .gridlock .row .tablet-hide {
    display: none !important
  }
}

@media screen and (min-width:980px) {
  .gridlock .row .desktop-1 {
    width: 6.25%
  }
  .gridlock .row .desktop-2 {
    width: 14.58333333%
  }
  .gridlock .row .desktop-3 {
    width: 22.91666667%
  }
  .gridlock .row .desktop-4 {
    width: 31.25%
  }
  .gridlock .row .desktop-5 {
    width: 39.58333333%
  }
  .gridlock .row .desktop-6 {
    width: 47.91666667%
  }
  .gridlock .row .desktop-7 {
    width: 56.25%
  }
  .gridlock .row .desktop-8 {
    width: 64.58333333%
  }
  .gridlock .row .desktop-9 {
    width: 72.91666667%
  }
  .gridlock .row .desktop-10 {
    width: 81.25%
  }
  .gridlock .row .desktop-11 {
    width: 89.58333333%
  }
  .gridlock .row .desktop-12 {
    width: 97.91666667%
  }
  .gridlock .row .desktop-push-1 {
    margin-left: 9.375%
  }
  .gridlock .row .desktop-push-2 {
    margin-left: 17.70833333%
  }
  .gridlock .row .desktop-push-3 {
    margin-left: 26.04166667%
  }
  .gridlock .row .desktop-push-4 {
    margin-left: 34.375%
  }
  .gridlock .row .desktop-push-5 {
    margin-left: 42.70833333%
  }
  .gridlock .row .desktop-push-6 {
    margin-left: 51.04166667%
  }
  .gridlock .row .desktop-push-7 {
    margin-left: 59.375%
  }
  .gridlock .row .desktop-push-8 {
    margin-left: 67.70833333%
  }
  .gridlock .row .desktop-push-9 {
    margin-left: 76.04166667%
  }
  .gridlock .row .desktop-push-10 {
    margin-left: 84.375%
  }
  .gridlock .row .desktop-push-11 {
    margin-left: 92.70833333%
  }
  .gridlock .row .contained.desktop-1 {
    width: 8.33333333%
  }
  .gridlock .row .contained.desktop-2 {
    width: 16.66666667%
  }
  .gridlock .row .contained.desktop-3 {
    width: 25%
  }
  .gridlock .row .contained.desktop-4 {
    width: 33.33333333%
  }
  .gridlock .row .contained.desktop-5 {
    width: 41.66666667%
  }
  .gridlock .row .contained.desktop-6 {
    width: 50%
  }
  .gridlock .row .contained.desktop-7 {
    width: 58.33333333%
  }
  .gridlock .row .contained.desktop-8 {
    width: 66.66666667%
  }
  .gridlock .row .contained.desktop-9 {
    width: 75%
  }
  .gridlock .row .contained.desktop-10 {
    width: 83.33333333%
  }
  .gridlock .row .contained.desktop-11 {
    width: 91.66666667%
  }
  .gridlock .row .contained.desktop-12 {
    width: 100%
  }
  .gridlock .row .contained.desktop-push-1 {
    margin-left: 8.33333333%
  }
  .gridlock .row .contained.desktop-push-2 {
    margin-left: 16.66666667%
  }
  .gridlock .row .contained.desktop-push-3 {
    margin-left: 25%
  }
  .gridlock .row .contained.desktop-push-4 {
    margin-left: 33.33333333%
  }
  .gridlock .row .contained.desktop-push-5 {
    margin-left: 41.66666667%
  }
  .gridlock .row .contained.desktop-push-6 {
    margin-left: 50%
  }
  .gridlock .row .contained.desktop-push-7 {
    margin-left: 58.33333333%
  }
  .gridlock .row .contained.desktop-push-8 {
    margin-left: 66.66666667%
  }
  .gridlock .row .contained.desktop-push-9 {
    margin-left: 75%
  }
  .gridlock .row .contained.desktop-push-10 {
    margin-left: 83.33333333%
  }
  .gridlock .row .contained.desktop-push-11 {
    margin-left: 91.66666667%
  }
  .gridlock .row .desktop-fifth {
    width: 17.91666667%
  }
  .gridlock .row .desktop-fourth {
    width: 22.91666667%
  }
  .gridlock .row .desktop-third {
    width: 31.25%
  }
  .gridlock .row .desktop-half {
    width: 47.91666667%
  }
  .gridlock .row .desktop-full {
    width: 97.91666667%
  }
  .gridlock .row .desktop-push-fifth {
    margin-left: 21.04166667%
  }
  .gridlock .row .desktop-push-fourth {
    margin-left: 26.04166667%
  }
  .gridlock .row .desktop-push-third {
    margin-left: 34.375%
  }
  .gridlock .row .desktop-push-half {
    margin-left: 51.04166667%
  }
  .gridlock .row .contained.desktop-fifth {
    width: 20%
  }
  .gridlock .row .contained.desktop-fourth {
    width: 25%
  }
  .gridlock .row .contained.desktop-third {
    width: 33.33333333%
  }
  .gridlock .row .contained.desktop-half {
    width: 50%
  }
  .gridlock .row .contained.desktop-full {
    width: 100%
  }
  .gridlock .row .contained.desktop-push-fifth {
    margin-left: 20%
  }
  .gridlock .row .contained.desktop-push-fourth {
    margin-left: 25%
  }
  .gridlock .row .contained.desktop-push-third {
    margin-left: 33.33333333%
  }
  .gridlock .row .contained.desktop-push-half {
    margin-left: 50%
  }
  .gridlock .row [class*=desktop-].centered {
    float: none;
    margin-left: auto;
    margin-right: auto
  }
  .gridlock .row .desktop-hide {
    display: none !important
  }
}

@media screen and (min-width:1220px) {
  .gridlock .row .max-1 {
    width: 6.25%
  }
  .gridlock .row .max-2 {
    width: 14.58333333%
  }
  .gridlock .row .max-3 {
    width: 22.91666667%
  }
  .gridlock .row .max-4 {
    width: 31.25%
  }
  .gridlock .row .max-5 {
    width: 39.58333333%
  }
  .gridlock .row .max-6 {
    width: 47.91666667%
  }
  .gridlock .row .max-7 {
    width: 56.25%
  }
  .gridlock .row .max-8 {
    width: 64.58333333%
  }
  .gridlock .row .max-9 {
    width: 72.91666667%
  }
  .gridlock .row .max-10 {
    width: 81.25%
  }
  .gridlock .row .max-11 {
    width: 89.58333333%
  }
  .gridlock .row .max-12 {
    width: 97.91666667%
  }
  .gridlock .row .max-push-1 {
    margin-left: 9.375%
  }
  .gridlock .row .max-push-2 {
    margin-left: 17.70833333%
  }
  .gridlock .row .max-push-3 {
    margin-left: 26.04166667%
  }
  .gridlock .row .max-push-4 {
    margin-left: 34.375%
  }
  .gridlock .row .max-push-5 {
    margin-left: 42.70833333%
  }
  .gridlock .row .max-push-6 {
    margin-left: 51.04166667%
  }
  .gridlock .row .max-push-7 {
    margin-left: 59.375%
  }
  .gridlock .row .max-push-8 {
    margin-left: 67.70833333%
  }
  .gridlock .row .max-push-9 {
    margin-left: 76.04166667%
  }
  .gridlock .row .max-push-10 {
    margin-left: 84.375%
  }
  .gridlock .row .max-push-11 {
    margin-left: 92.70833333%
  }
  .gridlock .row .contained.max-1 {
    width: 8.33333333%
  }
  .gridlock .row .contained.max-2 {
    width: 16.66666667%
  }
  .gridlock .row .contained.max-3 {
    width: 25%
  }
  .gridlock .row .contained.max-4 {
    width: 33.33333333%
  }
  .gridlock .row .contained.max-5 {
    width: 41.66666667%
  }
  .gridlock .row .contained.max-6 {
    width: 50%
  }
  .gridlock .row .contained.max-7 {
    width: 58.33333333%
  }
  .gridlock .row .contained.max-8 {
    width: 66.66666667%
  }
  .gridlock .row .contained.max-9 {
    width: 75%
  }
  .gridlock .row .contained.max-10 {
    width: 83.33333333%
  }
  .gridlock .row .contained.max-11 {
    width: 91.66666667%
  }
  .gridlock .row .contained.max-12 {
    width: 100%
  }
  .gridlock .row .contained.max-push-1 {
    margin-left: 8.33333333%
  }
  .gridlock .row .contained.max-push-2 {
    margin-left: 16.66666667%
  }
  .gridlock .row .contained.max-push-3 {
    margin-left: 25%
  }
  .gridlock .row .contained.max-push-4 {
    margin-left: 33.33333333%
  }
  .gridlock .row .contained.max-push-5 {
    margin-left: 41.66666667%
  }
  .gridlock .row .contained.max-push-6 {
    margin-left: 50%
  }
  .gridlock .row .contained.max-push-7 {
    margin-left: 58.33333333%
  }
  .gridlock .row .contained.max-push-8 {
    margin-left: 66.66666667%
  }
  .gridlock .row .contained.max-push-9 {
    margin-left: 75%
  }
  .gridlock .row .contained.max-push-10 {
    margin-left: 83.33333333%
  }
  .gridlock .row .contained.max-push-11 {
    margin-left: 91.66666667%
  }
  .gridlock .row .max-fifth {
    width: 17.91666667%
  }
  .gridlock .row .max-fourth {
    width: 22.91666667%
  }
  .gridlock .row .max-third {
    width: 31.25%
  }
  .gridlock .row .max-half {
    width: 47.91666667%
  }
  .gridlock .row .max-full {
    width: 97.91666667%
  }
  .gridlock .row .max-push-fifth {
    margin-left: 21.04166667%
  }
  .gridlock .row .max-push-fourth {
    margin-left: 26.04166667%
  }
  .gridlock .row .max-push-third {
    margin-left: 34.375%
  }
  .gridlock .row .max-push-half {
    margin-left: 51.04166667%
  }
  .gridlock .row .contained.max-fifth {
    width: 20%
  }
  .gridlock .row .contained.max-fourth {
    width: 25%
  }
  .gridlock .row .contained.max-third {
    width: 33.33333333%
  }
  .gridlock .row .contained.max-half {
    width: 50%
  }
  .gridlock .row .contained.max-full {
    width: 100%
  }
  .gridlock .row .contained.max-push-fifth {
    margin-left: 20%
  }
  .gridlock .row .contained.max-push-fourth {
    margin-left: 25%
  }
  .gridlock .row .contained.max-push-third {
    margin-left: 33.33333333%
  }
  .gridlock .row .contained.max-push-half {
    margin-left: 50%
  }
  .gridlock .row [class*=max-].centered {
    float: none;
    margin-left: auto;
    margin-right: auto
  }
  .gridlock .row .max-hide {
    display: none
  }
}

.gridlock-fluid .row {
  width: 100%
}

@media screen and (max-width:740px) {
  .gridlock-fluid .mobile-3.centered {
    float: left !important;
    margin-left: 1.04166667% !important;
    margin-right: 1.04166667% !important
  }
}

.gridlock-fluid .centered {
  display: inline-block
}

/* ---- CSS Grid structure for Ajax cart templates ---- */

.grid__wrapper {
  margin: 0 auto;
  padding-left: 3%;
  padding-right: 3%;
  max-width: 1600px;
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  font-size: 0
}

.grid__wrapper-nest {
  display: grid !important;
}
.megamenu .megamenu__listcontainer{position:relative;}
/* .grid__wrapper-nest li:after,  */
.megamenu .megamenu__listcontainer:after{
  background: #b5555ee3;
  width: 1px;
  content: "";
  height: 100%;
  display: block;
  position: absolute;
  right: 10px;
  top: 0;
  opacity: .4;
}
.grid__wrapper.aflow {
  grid-auto-flow: dense;
}

.grid__wrapper.narrow {
  padding-left: 7%;
  padding-right: 7%;
}

.grid__wrapper.full {
  padding-left: 1.25%;
  padding-right: 1.25%;
  max-width: unset;
  width: 100%;
}

.grid__wrapper.edge {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  max-width: unset;
}

/* Remove space when full width options selected */
.row .grid__wrapper.row {
  padding: 0;
  max-width: unset;
}

.grid__wrapper.row {
  padding: 0 1.04166667%;
  grid-gap: 30px;
}

.grid__wrapper > .first {
  order: 1;
}

.grid__wrapper > .last {
  order: 2;
}

/* Inline Grid Columns */
.grid__wrapper > * {
  padding: 0;
  font-size: initial;
  vertical-align: top;
}

/* Grid row gap zero */
.grid__wrapper.gr0 {
  grid-row-gap: 0;
}

/* Align Text */
.a-left { text-align: left; }
.a-right { text-align: right; }
.a-center { text-align: center; }

/* Align Self */
.v-start { align-self: start; vertical-align: top; }
.v-center { align-self: center; vertical-align: middle; }
.v-end { align-self: end; vertical-align: bottom; }
.v-stretch { align-self: stretch; }
.vi-center { display: inline;  vertical-align: middle; }
.vib-center { display: inline-block;  vertical-align: middle; }

/* Justify Self */
.h-start { justify-self: start; }
.h-center { justify-self: center; }
.h-end { justify-self: end; }
.h-stretch { justify-self: stretch; }

/* Place Self */
.vh-start { place-self: start; }
.vv-center { place-self: center; }
.vh-end { place-self: end; }
.vh-stretch { place-self: stretch; }

.absolute-center {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

@supports (display: grid) {
  /* Grid Columns */
  .span-1 { grid-column: 1; width: 100%; }
  .span-2 { grid-column: 1 / 3; width: 100%; }
  .span-3 { grid-column: 1 / 4; width: 100%; }
  .span-4, .span-third { grid-column: 1 / 5; width: 100%; }
  .span-5 { grid-column: 1 / 6; width: 100%; }
  .span-6 { grid-column: 1 / 7; width: 100%; }
  .span-7 { grid-column: 1 / 8; width: 100%; }
  .span-8 { grid-column: 1 / 9; width: 100%; }
  .span-9 { grid-column: 1 / 10; width: 100%; }
  .span-10 { grid-column: 1 / 11; width: 100%; }
  .span-11 { grid-column: 1 / 12; width: 100%; }
  .span-12 { grid-column: 1 / 13; width: 100%; }

  .span-6.first { grid-column: 1 / 7; width: 100%; }
  .span-6.last { grid-column: 7 / 13; width: 100%; }
  .span-8.first { grid-column: 1 / 9; width: 100%; }
  .span-4.last { grid-column: 9 / 13; width: 100%; }
  .span-4.first { grid-column: 1 / 5; width: 100%; }
  .span-8.last { grid-column: 5 / 13; width: 100%; }
  .span-9.first { grid-column: 1 / 10; width: 100%; }
  .span-3.last { grid-column: 10 / 13; width: 100%; }
  .span-3.first { grid-column: 1 / 4; width: 100%; }
  .span-9.last { grid-column: 4 / 13; width: 100%; }

  /* Grid Auto Columns */
  .span-1.auto { grid-column: auto / span 1; width: 100%; }
  .span-2.auto { grid-column: auto / span 2; width: 100%; }
  .span-3.auto { grid-column: auto / span 3; width: 100%; }
  .span-4.auto, .span-third.auto { grid-column: auto / span 4; width: 100%; }
  .span-5.auto { grid-column: auto / span 5; width: 100%; }
  .span-6.auto { grid-column: auto / span 6; width: 100%; }
  .span-7.auto { grid-column: auto / span 7; width: 100%; }
  .span-8.auto { grid-column: auto / span 8; width: 100%; }
  .span-9.auto { grid-column: auto / span 9; width: 100%; }
  .span-10.auto { grid-column: auto / span 10; width: 100%; }
  .span-11.auto { grid-column: auto / span 11; width: 100%; }
  .span-12.auto { grid-column: auto / span 12; width: 100%; }

  /* Grid Push Columns */
  .span-1.push-1 { grid-column: 2 / 3; width: 100%; }
  .span-1.push-2 { grid-column: 3 / 4; width: 100%; }
  .span-1.push-3 { grid-column: 4 / 5; width: 100%; }
  .span-1.push-4 { grid-column: 5 / 6; width: 100%; }
  .span-1.push-5 { grid-column: 6 / 7; width: 100%; }
  .span-1.push-6 { grid-column: 7 / 8; width: 100%; }
  .span-1.push-7 { grid-column: 8 / 9; width: 100%; }
  .span-1.push-8 { grid-column: 9 / 10; width: 100%; }
  .span-1.push-9 { grid-column: 10 / 11; width: 100%; }
  .span-1.push-10 { grid-column: 11 / 12; width: 100%; }
  .span-1.push-11 { grid-column: 12 / 13; width: 100%; }

  .span-2.push-1 { grid-column: 2 / 4; width: 100%; }
  .span-2.push-2 { grid-column: 3 / 5; width: 100%; }
  .span-2.push-3 { grid-column: 4 / 6; width: 100%; }
  .span-2.push-4 { grid-column: 5 / 7; width: 100%; }
  .span-2.push-5 { grid-column: 6 / 8; width: 100%; }
  .span-2.push-6 { grid-column: 7 / 9; width: 100%; }
  .span-2.push-7 { grid-column: 8 / 10; width: 100%; }
  .span-2.push-8 { grid-column: 9 / 11; width: 100%; }
  .span-2.push-9 { grid-column: 10 / 12; width: 100%; }
  .span-2.push-10 { grid-column: 11 / 13; width: 100%; }

  .span-3.push-1 { grid-column: 2 / 5; width: 100%; }
  .span-3.push-2 { grid-column: 3 / 6; width: 100%; }
  .span-3.push-3 { grid-column: 4 / 7; width: 100%; }
  .span-3.push-4 { grid-column: 5 / 8; width: 100%; }
  .span-3.push-5 { grid-column: 6 / 9; width: 100%; }
  .span-3.push-6 { grid-column: 7 / 10; width: 100%; }
  .span-3.push-7 { grid-column: 8 / 11; width: 100%; }
  .span-3.push-8 { grid-column: 9 / 12; width: 100%; }
  .span-3.push-9 { grid-column: 10 / 13; width: 100%; }

  .span-4.push-1 { grid-column: 2 / 6; width: 100%; }
  .span-4.push-2 { grid-column: 3 / 7; width: 100%; }
  .span-4.push-3 { grid-column: 4 / 8; width: 100%; }
  .span-4.push-4 { grid-column: 5 / 9; width: 100%; }
  .span-4.push-5 { grid-column: 6 / 10; width: 100%; }
  .span-4.push-6 { grid-column: 7 / 11; width: 100%; }
  .span-4.push-7 { grid-column: 8 / 12; width: 100%; }
  .span-4.push-8 { grid-column: 9 / 13; width: 100%; }

  .span-5.push-1 { grid-column: 2 / 7; width: 100%; }
  .span-5.push-2 { grid-column: 3 / 8; width: 100%; }
  .span-5.push-3 { grid-column: 4 / 9; width: 100%; }
  .span-5.push-4 { grid-column: 5 / 10; width: 100%; }
  .span-5.push-5 { grid-column: 6 / 11; width: 100%; }
  .span-5.push-6 { grid-column: 7 / 12; width: 100%; }
  .span-5.push-7 { grid-column: 8 / 13; width: 100%; }

  .span-6.push-1 { grid-column: 2 / 8; width: 100%; }
  .span-6.push-2 { grid-column: 3 / 9; width: 100%; }
  .span-6.push-3 { grid-column: 4 / 10; width: 100%; }
  .span-6.push-4 { grid-column: 5 / 11; width: 100%; }
  .span-6.push-5 { grid-column: 6 / 12; width: 100%; }
  .span-6.push-6 { grid-column: 7 / 13; width: 100%; }

  .span-7.push-1 { grid-column: 2 / 9; width: 100%; }
  .span-7.push-2 { grid-column: 3 / 10; width: 100%; }
  .span-7.push-3 { grid-column: 4 / 11; width: 100%; }
  .span-7.push-4 { grid-column: 5 / 12; width: 100%; }
  .span-7.push-5 { grid-column: 6 / 13; width: 100%; }

  .span-8.push-1 { grid-column: 2 / 10; width: 100%; }
  .span-8.push-2 { grid-column: 3 / 11; width: 100%; }
  .span-8.push-3 { grid-column: 4 / 12; width: 100%; }
  .span-8.push-4 { grid-column: 5 / 13; width: 100%; }

  .span-9.push-1 { grid-column: 2 / 11; width: 100%; }
  .span-9.push-2 { grid-column: 3 / 12; width: 100%; }
  .span-9.push-3 { grid-column: 4 / 13; width: 100%; }

  .span-10.push-1 { grid-column: 2 / 12; width: 100%; }
  .span-10.push-2 { grid-column: 3 / 13; width: 100%; }

  .span-11.push-1 { grid-column: 2 / 13; width: 100%; }

  /* Mobile Grid Columns */
  @media (max-width: 739px) {
    .sm-span-1.auto { grid-column: auto / span 1 !important; width: 100%; }
    .sm-span-2.auto { grid-column: auto / span 2 !important; width: 100%; }
    .sm-span-3.auto { grid-column: auto / span 3 !important; width: 100%; }
    .sm-span-4.auto, .sm-span-third.auto { grid-column: auto / span 4 !important; width: 100%; }
    .sm-span-5.auto { grid-column: auto / span 5 !important; width: 100%; }
    .sm-span-6.auto { grid-column: auto / span 6 !important; width: 100%; }
    .sm-span-7.auto { grid-column: auto / span 7 !important; width: 100%; }
    .sm-span-8.auto { grid-column: auto / span 8 !important; width: 100%; }
    .sm-span-9.auto { grid-column: auto / span 9 !important; width: 100%; }
    .sm-span-10.auto { grid-column: auto / span 10 !important; width: 100%; }
    .sm-span-11.auto { grid-column: auto / span 11 !important; width: 100%; }
    .sm-span-12.auto { grid-column: auto / span 12 !important; width: 100%; }

    .mobile-hide,
    .sm-hide {
      display: none !important;
    }
  }
}


/* .visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.visually-hidden--inline {
  margin: 0;
  height: 1em;
}

.visually-hidden--static {
  position: static !important;
} */



img {
  max-width: 100%;
  border: 0;
}

img[data-sizes="auto"] {
  display: block;
  width: 100%;
}

.box-ratio {
  display: block;
  height: 0;
  width: 100%;
  overflow: hidden;
  /*   background-color: #f1f1f1; */
}

.product .box-ratio {
  background-color: white;
}

.lazyload-fade {
  opacity: 0;
  transition: opacity 200ms;
}

.lazyload-fade.lazyloaded {
  opacity: 1;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
    font-family: var(--heading-family);
      font-weight: var(--heading-weight);
        font-style: var(--heading-style);
          margin-top: 0;
          letter-spacing: 0.05em;
          line-height: normal;
          }



/* NO JS Helpers
================================================== */
.js-focus-hidden:focus {
  outline: none;
}

.no-js .box-ratio {
  display: none;
}

.no-js .product-main-image img.lazyload,
.no-js #slider .carousel-cell {
  opacity: 1 !important;
  visibility: visible;
}

.no-js #slider .carousel-cell img {
  margin-bottom: 20px;
}

.no-js .product-thumbnails .lazyload,
.no-js .zoom_btn,
.no-js .swatches__container,
.no-js .no-js-hidden {
  display: none;
}
.no-js .vantage-accordion .product-accordion-content,
.no-js .product__variants-select {
  display: block !important;
}

.no-js .collection-carousel {
  text-align: center;
}

.no-js #shopify-section-mobile-navigation {
  display: none;
}

.no-js .loading-wrapper,
.no-js .product-listing__quickview-trigger {
  display: none !important;
}

.no-js .tabbed__collection-carousel {
  margin: 0 auto;
  text-align: center;
}

.no-js [data-aos^=fade][data-aos^=fade],
.no-js .lazyload-fade {
  opacity: 1 !important;
}

.no-js [data-aos^=fade][data-aos^=fade] {
  transform: unset;
}

.no-js [data-aos] {
  pointer-events: unset !important;
}

/* No Js Cart */
.cart-type--no_js_cart .ajax-cart__item-remove--no-js,
.no-js .ajax-cart__item-remove--no-js {
  display: block !important;
  position: absolute;
  top: 10px;
  right: 10px;
}
.cart-type--no_js_cart  .ajax-cart__item-remove--js,
.no-js .ajax-cart__item-remove--js {
  display: none;
}
.cart-type--no_js_cart .ajax-cart__qty-control--down,
.cart-type--no_js_cart .ajax-cart__qty-control--up,
.no-js .ajax-cart__qty-control--down,
.no-js .ajax-cart__qty-control--up {
  display: none;
}
.cart-type--no_js_cart .ajax-cart__item-quantity,
.no-js .ajax-cart__item-quantity {
  text-align: center !important;
}
.cart-type--no_js_cart .ajax-cart__qty-input--no-js,
.no-js .ajax-cart__qty-input--no-js {
  max-width: 90px;
  margin: 0;
}
.cart-type--no_js_cart .ajax-cart__item-update--no-js,
.no-js .ajax-cart__item-update--no-js {
  display: block !important;
  margin-top: 8px;
  text-decoration: underline;
  font-size: 13px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.no-js .ajax-cart__accordion--shipping-calc {
  display: none;
}
.cart-type--no_js_cart .ajax-cart__form-wrapper--nojs,
.no-js .ajax-cart__accordion .accordion-content {
  display: block !important;
}
.no-js .loading-wrapper,
.cart-type--no_js_cart .loading-wrapper {
  display: none;
}
.no-js #HeaderCountryForm,
.no-js #HeaderLanguageForm,
.no-js #FooterCountryForm,
.no-js #FooterLanguageForm,
.no-js .no-js-hidden {
  display: none !important;
}

/* Primary Buttons
================================================== */


/* input[type="submit"],
input[type="reset"],
input[type="button"] {
background: var(--button-color);
color: var(--button-text);
font-size: var(--font-size);
font-family: var(--main-family);
font-style: var(--main-style);
font-weight: 500;
border: 0;
border-radius: var(--button-border-radius);
transition: all .25s ease-in-out !important;
-webkit-appearance: none;
display: inline-block;
width: auto;
margin-bottom: 10px;
padding: 0 25px;
letter-spacing: 1px;
text-decoration: none;
cursor: pointer;
} */

/* input[type=submit] {
border: 2px solid var(--button-color);
line-height: 46px;
} */

input.required-error,
textarea.required-error {
  border-color: #cc0000 !important;
}
/* 
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: var(--button-text-hover);
    background: var(--button-hover);
      } */

button.button-as-link,
a.button-as-link,
input.button-as-link {
  border: none;
  background: none;
  color: var(--text-color);
    text-decoration: underline;
    line-height: var(--font-size);
      font-size: var(--font-size);
        height: auto;
        display: inline-block;
        width: auto !important;
        padding: 0;
        }

button.button-as-link:hover,
a.button-as-link:hover,
input.button-as-link:hover {
  background: none;
  color: var(--text-color);
    }

.theme-features__ghost-buttons--true .secondary-button {
  color: var(--text-color)! important;
    background: var(--background)! important;
      border: 2px solid var(--text-color) !important;
        line-height: 46px;
        }

.theme-features__rounded-buttons--true .secondary-button:hover {
  color: var(--text-color) !important;
    background: var(--background) !important;
      }

.theme-features__ghost-buttons--false .secondary-button {
  color: var(--secondary-button-text)! important;
    background: var(--secondary-button-color)! important;
      border: 2px solid var(--secondary-button-color) !important;
        line-height: 46px;
        }

.theme-features__rounded-buttons--false .secondary-button:hover {
  color: var(--secondary-button-text) !important;
    background: var(--secondary-button-color) !important;
      }

a.button:visited {
  background: var(--button-color);
    color: var(--button-text);
      }

/* #Forms
================================================== */

form {
  margin-bottom: 0;
}

fieldset {
  margin-bottom: 20px;
}

label,
legend {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="checkbox"] {
  display: inline;
}

label span,
legend span {
  font-weight: normal;
  font-size: 13px;
  color: var(--text-color);
    }





/* =============== */
/* = Start CSS = */
/* =============== */

.announcement__bar-section {
  position: relative;
}

#top-bar, #top-bar p {
  font-size: var(--announcement-size);
    }

.header-section {
  background: var(--header-background);
    position: relative;
    z-index: 1;
    transition: all .25s ease-in-out;
    }

header {
  background: var(--header-background);
    position: relative;
    /*   padding-top: 10px; */
    /*   transition: all .5s ease-in-out; */
    }

header.theme-header.stickynav {
  width: 100%;
  z-index: 11;
}

header.header--sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  animation-name: fadeInDown;
  background: #fff;
  box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
  animation: 0.8s ease-in-out 0s normal none 1 running fadeInDown;

}

@keyframes fadeInDown {
  from {
    opacity:0;
    transform: translatey(-20px);
  }
  to {
    opacity:1;
    transform: translatey(0);
  }
}
/* .sticky {
position: fixed;
top: 0;
width: 100%;
z-index: 9;
animation-name: fadeInDown;
background: #fff;
box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
animation: .7s ease-in-out 0s normal none 1 running fadeInDown;
transition:.3s;
} */

#top-bar {
  text-align: center;
  line-height: 40px;
  /*   background: var(--top-bar-background); */
  background: #3c454b;
  padding: 5px;
  color: var(--top-bar-color);
    }

#top-bar a {
  color: var(--top-bar-color);
    }

#top-bar p {
  margin-bottom: 0;
  font-weight: normal;
}

#top-bar .top-bar-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
#top-bar .row ul#social-links {
  grid-column: 1 / span 1;
}
#top-bar .row .announcement__text {
  grid-column: 2 / span 1;
}
#top-bar .row .announcement__text.text-only {
  grid-column: 1 / span 3;
}
/* @media screen and (max-width: 980px) {
.announcement__text {
grid-column: 1 / span 3 !important;
}
} */
#top-bar .row ul.localization__options {
  grid-column: 3 / span 1;
}

.no-js #top-bar .row ul.localization__options {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}


input#header-search {
  margin-bottom: 0;
}

button.search-button {
  line-height: inherit;
  padding: 0 5px;
  width: 44px;
  background: transparent;
  margin-bottom: 0;
}

.large-search form.header-search-form {
  border: 1px solid var(--dotted-color);
    background: #F5F5F5;
    }

.large-search form.header-search-form input.header-search {
  border: 0;
  width: calc(100% - 48px);
  margin: 0;
  display: inline-block;
  padding: 0;
  vertical-align: middle;
  font-weight:500;
}

.large-search form.header-search-form button.search-button {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: unset;
  vertical-align: middle;
}

#identity {
  /*   padding-bottom: 10px; */
  position: relative;
}

ul#cart1 {
  text-align: right;
}

ul#cart1 > li {
  display: inline-block;
  vertical-align: middle;
  min-width: 25px;
}

/* ul#cart > li a,
ul#cart > li button {
  display: inline-block;
  color: var(--cart-links);
    height: 60px;
    line-height: 60px;
    padding: 0 5px; background: transparent !important;
    } */

/* Stop double padding on button within link */
ul#cart1 > li a button {
  padding: 0;
  background: transparent;
}

ul#cart1 > li.my-cart-link-container a {
  margin-left: 0;
      
}

/* ul#cart > li a:hover,
ul#cart > li button:hover {
  text-decoration: none;
  color: var(--cart-links);
    } */

ul#cart1 > li a:hover svg .hover-fill,
ul#cart1 > li button:hover svg .hover-fill {
  fill: var(--cart-links);
    }

ul#cart1 > li.cart-overview {
  margin-left: 0;
}

ul#cart1 > li.cart-overview a {
  padding-left: 0;
}
.cart-links__link-cart .slideout__trigger--open {
  height: 60px;
  line-height: 60px;
}
span.my-cart-text,
span.customer-words {
  margin-right: 5px !important;
}
@media screen and (max-width: 740px) {
  span.my-cart-text {
    display: none;
  }
  .announcement__text {
    grid-column: 1 / span 3 !important;
  }
}
.slideout__trigger-mobile-menu {
  line-height: unset;
  width: 100%;
}
button.slideout__trigger-mobile-menu.js-slideout-open {
  color: var(--cart-links);
    border-radius: 0 !important;
    }

ul#social-links {
  list-style: none;
  text-align: left;
  vertical-align: middle;
  line-height: 40px;
}

ul#social-links li {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  font-size: 15px;
}

ul#social-links li a {
  text-align: right;
  display: block;
  padding: 0 0 0 5px;
  color: var(--social-links) !important;
    text-decoration: none;
    border-bottom: 0;
    }

ul#cart1 li button.slideout__trigger-search {
  margin-bottom: 0;
}

header #header-search {
  font-size: var(--nav-size);
    }

ul#cart1 li a .my-cart-text,
ul#cart1 li a .customer-words,
.js-mini-cart-trigger {
  font-size: var(--nav-size);
    font-weight: 400;
    border: 0;
    text-decoration: none;
    }

#logo {
  line-height: initial;
  padding: 0;
  font-family: var(--heading-family);
    font-weight: var(--heading-weight);
      font-style: var(--heading-style);
        }

#logo a {
  color: #0D0E43;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
  font-family: var(--josefin-font);
    }
#fsb_container{display:none !important;}

/* ---- Inline navigation colors ---- */

nav.navigation.inline-header {
  background: var(--header-background);
    height: 100%;
    }



nav.navigation.inline-header ul.dropdown,
nav.navigation.inline-header ul.megamenu {
  background: #fff;
}
/* 
nav.navigation.inline-header ul.megamenu h4.megamenu__header,
nav.navigation.inline-header ul.megamenu h4.megamenu__header a.megamenu__headerlink,
nav.navigation.inline-header .megamenu__listlink,
nav.navigation.inline-header a.megamenu__nestedlistlink {
color: var(--cart-links) !important;
}
*/
.span-9.auto.menu-flex li:last-child ul{display:flex !important; align-items:center; flex-wrap:wrap;}
.span-9.auto.menu-flex li:last-child ul li{padding:5px 15px; border:1px solid #444; margin-right:10px; transition:.3s;}
.span-9.auto.menu-flex li:last-child ul li:hover{background:#444;}
.span-9.auto.menu-flex li:last-child ul li:hover .megamenu__listlink{ color:#fff;}
.span-9.auto.menu-flex li:last-child ul li a{overflow: visible;}
/* ---- Navigation colors ---- */

.navigation.full-nav {
  /*   background: var(--navigation); */
  background:#F5F5F5;
  padding:15px 0;
}
.purple-ninja-navigation{
  background:#F5F5F5;
}


.navigation {
  font-family: var(--nav-family);
    font-weight: var(--nav-weight);
      font-style: var(--nav-style);
        width: 100%;
        z-index: 5;
        top: 0px;
        }

.navigation.navigation--sticky {
  position: fixed;
  top: 0px;
}

.navigation__maincontainer {
  padding: 0;
}

#nav {
  list-style: none;
  width: 100%;
}
.purple-ninja-nav{
  display:flex;
  align-items:center;
  justify-content: center;
  height:100%;
}


.navigation__menuitem {
  display: inline-block;
  z-index: 21;
  vertical-align: middle;
  height:100%;
}

.navigation.full-nav .navigation__menuitem {
  vertical-align: revert;
}

a.navigation__menulink {
  color: #0d0e43;
  font-family: var(--lato-font);
    text-decoration: none;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    padding: 0 10px 0 10px;
    letter-spacing: 1px;
    height: 100%;
    align-items: center;
    position:relative;
    }

.navigation__menulink:hover {
  text-decoration: none;
}

.navigation__menuitem.navigation__menuitem--dropdown > .dropdown {
  display: block;
  float: left;
  position: absolute;
  z-index: 25;
  margin: 0 0 0 -17px;
  line-height: 1.8em;
  padding: 20px 0;
  visibility: hidden;
  opacity: 0;
  /*   transition: opacity .25s ease-in-out,visibility .25s ease-in-out; */
  transition: opacity .5s ease-in-out,visibility .5s ease-in-out;
  top:57px;
  width: 235px;
}

.navigation__menuitem.navigation__menuitem--dropdown > .navigation__menulink::after {
  content: "";
  margin-left: 20px;
}

.navigation__menuitem.navigation__menuitem--dropdown > .navigation__menulink svg {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.navigation__menuitem.navigation__menuitem--dropdown:hover > .dropdown,
.navigation__menuitem.navigation__menuitem--dropdown.navigation__menuitem--active > .dropdown {
  opacity: 1;
  visibility: visible;
}

.dropdown__menuitem {
  /*   width: 180px; */
  text-align: left;
  position: relative;
  display: block;
  float: none;
}

a.dropdown__menulink {
  text-align: left;
          padding: 0 25px;
          display: block;
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
  text-decoration: none;
    color: #000;
  font-family:var(--lato-font);
          }

.dropdown__menuitem.dropdown__menuitem--nested:hover > .dropdown.dropdown--nested,
.dropdown__menuitem.dropdown__menuitem--nested.dropdown__menuitem--active > .dropdown.dropdown--nested {
  display: block;
  position: absolute;
  left: 100%;
}

.dropdown.dropdown--nested {
  display: none;
  padding: 20px 0;
  top: -20px;
}

.dropdown__menuitem.dropdown__menuitem--nested svg {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%) scale(0.8);
}

.dropdown__menuitem.dropdown__menuitem--nested:before {
  position: absolute;
  top: 0;
  right: 10px;
  content: "";
  margin-left: 20px;
}

/* .megamenu{
border-top: 1px solid #fde9d7;
} */
/* .megamenu:after{
position:absolute;
content:'';
width:100%;
height:100%;
background:#00000080;
top:0;
left:0;
} */
.megamenu__listcontainer {
  margin-left: 10px;
  padding-top: 0;
  top:  initial;
  display: block;
  list-style: none;
  transform: translateY(20px);
  transition-duration: .25s;
}

ul.mega-stack li.sub_link > ul.nested:before {
  position: initial;
  top: initial;
  content: none;
}

.rightarrow {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 11px;
}

/* ---- Animation ---- */

nav.navigation li ul.dropdown li.dropdown__menuitem,
nav.navigation li ul.megamenu li.dropdown__menuitem,
nav.navigation li > ul.megamenu span.links__withimages--image {
  transform: translateY(20px);
  transition-duration: .25s;
}

nav.navigation li:hover > ul.dropdown li.dropdown__menuitem,
nav.navigation li:hover > ul.megamenu li.dropdown__menuitem,
nav.navigation li:hover > ul.megamenu span.links__withimages--image {
  transform: translateY(0);
}

/* megamenu */

.megamenu {
  width: 100%;
  left: 0;
  top:57px;
  position: absolute;
  z-index: 5;
  padding: 20px 0;
  /*   padding-top: 20px; */
  text-align: left;
  line-height: 1.8em;
  opacity: 0;
  transition: opacity .25s ease-in-out,visibility .25s ease-in-out;
  visibility: hidden;
  pointer-events:none;
}

.navigation__menuitem.navigation__menuitem--dropdown:hover > .megamenu,
.navigation__menuitem.navigation__menuitem--dropdown.navigation__menuitem--active > .megamenu {
  opacity: 1;
  visibility: visible;
  pointer-events:all;
}

.megamenu__list {
  display: block;
  line-height: 30px !important;
  margin-bottom: 20px;
  list-style: none;
}

.navigation__menuitem.navigation__menuitem--dropdown:hover > .megamenu .megamenu__listcontainer {
  transform: translateY(0);
}
.navigation {z-index:10 !important;}


.megamenu__header {
  font-size: 18px;
  font-weight: 500;
  display: block;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-align: left;
  position:relative;
  width: fit-content;
}

.megamenu__header:after{
  border-bottom: 1px solid #000;
  content: "";
  display: block;
  width: auto;
}

.megamenu__headerlink {
  padding-left: 0;
  text-align: left;
  text-decoration: none;
  color:#000;
  font-family: var(--josefin-font);
}

.megamenu__listlink {
  text-align: left;
  font-family:var(--lato-font);
    font-weight: normal !important;
    font-size: 16px !important;
    color:#000;
    text-decoration: none;
      padding-left: 0 !important;
      /* To stop text from going over the arrow. */
      display: block;
      max-width: 90%;
      overflow: hidden;
      text-overflow: ellipsis;

}

.megamenu__splitcontainer,
.megamenu__nestedlistitem {
  list-style: none;
}

.megamenu__nestedlistitem {
  padding-left: 20px;
}

.dropdown__menuitem.dropdown__menuitem--nested:hover > .dropdown.dropdown--nested.dropdown--edge {
  left: initial;
  right: 100%;
}

.dropdown__menuitem.dropdown__menuitem--nested:hover > .dropdown.dropdown--nested.dropdown--edge:before {
  left: 200%;
  margin-left: -28px;
}

#nav > a {
  display: none;
}

ul#nav li ul.megamenu div.mega-container li.desktop-3:nth-child(5n) {
  clear: left;
}

nav.inline-header ul {
  text-align: center;
  list-style: none;
}

nav.inline-header .megamenu__nestedlistcontainer {
  text-align: left;
}

nav.inline-header div#navigation {
  position: unset;
  height: 100%;
}

a.megamenu__nestedlistlink {
  font-family: var(--main-family);
    font-weight: normal !important;
    font-size: var(--font-size) !important;
      }

/* ---- Links with images ---- */

span.links__withimages--image-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

span.links__withimages--image {
  max-width: 30%;
  margin: 0 15px;
  flex: auto;
}

span.links__withimages--image .box-ratio {
  z-index: -1;
}


.orlay{display: block !important; transition:0.5s; pointer-events:none; background:rgba(0,0,0,.6); position:fixed; left:0; right:0; top:106px; bottom:0; opacity:0;}
.orlay.active{ opacity:1;}

/*  88888888888888888888888888888888888888888888888888888888888    */