.cart {
  position: relative;
  display: block;
}

#mini-cart {
  position: fixed;
  top: 0;
  right: -300px; /* Start off the screen */
  width: 300px; /* Set the desired width */
  height: 100%;
  background-color: #fff; /* Customize the background color */
  transition: right 0.3s; /* Add a smooth sliding animation */
}

/* Style the close button within the drawer */
.slideout__trigger-password {
  cursor: pointer;
}

/*----------------------------------------------------------------------------*/

.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}
/* .cart__footer{
	background: #F4F4FC;
    border-radius: 3px;
    padding: 20px !important;
} */
.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;

}
.is-empty .cart__warnings{
/* 	box-shadow: 0px 0px 25px 10px #f6f4fd;
  padding:20px; */
      

}
.cart__warnings {
  display: none;
  text-align: center;
  padding: 3rem 0 1rem;
}

.cart__empty-text {
  margin: 4.5rem 0 2rem;
  font-family: var(--josefin-font);
    color:var(--Text-color);
}

.cart__contents > * + * {
  margin-top: 2.5rem;
}

.cart__login-title {
  margin: 5.5rem 0 0.5rem;
  font-family: var(--josefin-font);
    color:var(--Text-color);
}
.cart-div{
	box-shadow: 0px 0px 25px 10px #f6f4fd;
  padding:20px;
  border-radius:10px;
  margin-bottom: 20px;
  
}

.cart__login-paragraph {
  margin-top: 0.8rem;
  font-family: var(--lato-font);
    color:var(--sub-text-color);
}

.cart__login-paragraph a {
  font-size: inherit;
  font-family: var(--josefin-font);
    color:var(--Text-color);
}

@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 2rem 0 1rem;
  }

  .cart__empty-text {
    margin: 0 0 3rem;
  }
}

cart-items {
  display: block;
}

.cart__items {
  position: relative;
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart__items--disabled {
  pointer-events: none;
}

/* .cart__footer {
  padding: 4rem 0 0;
} */

.cart__footer-wrapper:last-child .cart__footer {
  padding-bottom: 5rem;
}

.cart__footer > div:only-child {
  margin-left: auto;
}

.cart__footer > * + * {
  margin-top: 4rem;
}

.cart__footer .discounts {
  margin-top: 1rem;
}

.cart__note {
  height: fit-content;
}

.cart__note label {
  display: flex;
  align-items: flex-end;
  position: absolute;
  line-height: 1;
  height: 1.8rem;
  top: -3rem;
  color: rgba(var(--color-foreground), 0.75);
}

.cart__note .field__input {
  height: 100%;
  position: relative;
  border-radius: var(--inputs-radius);
  padding: 1rem 2rem;
}

.cart__note .text-area {
  resize: vertical;
}

.cart__note:after, .cart__note:hover.cart__note:after,
.cart__note:before, .cart__note:hover.cart__note:before,
.cart__note .field__input:focus,
.cart__note .field__input {
  border-bottom-right-radius: 0;
}

@media screen and (min-width: 750px) {
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 4rem;
  }

  .cart__contents > * + * {
    margin-top: 0;
  }

  .cart__items + .cart__footer {
    grid-column: 2;
  }

  .cart__footer {
    display: flex;
    justify-content: space-between;
    border: 0;
  }

  .cart__footer-wrapper:last-child {
    padding-top: 0;
  }

  .cart__footer > * {
    width: 35rem;
  }

  .cart__footer > * + * {
    margin-left: 4rem;
    margin-top: 0;
  }
}

.cart__ctas button {
  width: 100%;
  padding: 10px 30px;
  color: #fff !important;
  background:var(--btn-color);
  --border-offset: unset;
border-radius:5px;
    transition:.3s;
}
.cart__ctas button:hover{background-color: #7e33e0;}
.cart__ctas > *:not(noscript:first-child) + * {
  margin-top: 1rem;
}

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__dynamic-checkout-buttons {
  max-width: 36rem;
  margin: 0 auto;
}

.cart__blocks > * + * {
  margin-top: 1rem;
}

.cart__dynamic-checkout-buttons div[role='button'] {
  border-radius: var(--buttons-radius-outset) !important;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
  line-height: calc(1 + 1 / var(--font-body-scale));
}

.tax-note {
  margin: 2.2rem 0 1.6rem auto;
  text-align: center;
  display: block;
}

.cart__checkout-button {
  max-width: 36rem;
}

.cart__ctas {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .cart-note {
    max-width: 35rem;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }

  .tax-note {
    margin-bottom: 2.2rem;
    text-align: right;
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }

  .cart__ctas {
    display: flex;
    gap: 1rem;
  }
}
